{% extends 'tienda/base.html' %}

{% block content %}

   <h2 class="">Resultado posts</h2>
    <div class="orden_recuadros">

                         {% for producto in nombre %}
                             <div class="recuadro_productos">
                                         <div class="recuadro_imagenes"><img src="https://cdn.grupoelcorteingles.es/SGFM/dctm/MEDIA03/202210/06/00194612300593____9__640x640.jpg"></div>

                                <div class="orden_recuadros">
                                    <div class="texto"> {{producto.nombre}}</div>
                                <div class="texto"> {{producto.modelo}}</div>
                                 <div class="texto">{{producto.marca}}</div>
                                <div class="texto"> {{producto.precio}}€</div>

                                </div>


                             </div>
                         
                         {% endfor %}

                       </div>


{% endblock %}