{% extends 'tienda/base.html' %}

{% block content %}
    <div class="titulo_tienda">Mejores Clientes</div>

       <table border="1" class="tablaOrden"  cellspacing="1"  >

                            <tr class="colorTrEntrada">
                                <td class="texto"> Cliente</td>
                                <td class="texto"> Total gastado</td>
                            </tr>


                         {% for cliente in top_clientes %}
                            {% if top_clientes %}
                                <tr>
                                    <td class="texto" > {{cliente.user.username }}</td>
                                    <td class="texto">{{ cliente.dinero_gastado|floatformat:2}}</td>
                                </tr>

                            {% endif %}

                         {% endfor %}

                       </table>

{% endblock %}