{% extends 'tienda/base.html' %}

{% block content %}
    <div class="titulo_tienda">Tus compras</div>

                        <table border="1" class="tablaOrden"  cellspacing="1"  >

                            <tr class="colorTrEntrada">
                                <td class="texto"> Nombre</td>
                                <td class="texto"> Marca</td>
                                <td class="texto">Modelo</td>
                                <td class="texto"> Total gastado </td>
                                <td class="texto"> Unidades compradas</td>
                                <td class="texto"> Fecha de compra</td>

                            </tr>


                         {% for compra in compras %}

                             <tr>

                                <td class="texto" > {{compra.producto.nombre}}</td>
                                <td class="texto">{{compra.producto.marca}}</td>
                                <td class="texto"> {{compra.producto.modelo}}</td>
                                <td class="texto"> {{compra.importe}}€</td>
                                <td class="texto"> {{compra.unidades}}</td>
                                 <td class="texto"> {{compra.fecha  }}</td>







                             </tr>
                         {% endfor %}

                       </table>

{% endblock %}