{% extends 'tienda/base.html' %}

{% block content %}
    <h3>Productos más comprados</h3>

       <table border="1" class="tablaOrden"  cellspacing="1"  >

                            <tr class="colorTrEntrada">
                                <td class="texto"> Nombre</td>
                                <td class="texto"> Marca</td>
                                <td class="texto">Modelo</td>
                                <td class="texto"> Total compras</td>
                                <td class="texto"> Total gastado</td>
                            </tr>


                         {% for producto in producto_top %}
                            {% if producto.sum_unidades %}
                                <tr>
                                    <td class="texto" > {{producto.nombre}}</td>
                                    <td class="texto">{{producto.marca}}</td>
                                    <td class="texto"> {{producto.modelo}}</td>
                                    <td class="texto"> {{producto.sum_unidades}}</td>
                                    <td class="texto"> {{producto.sum_importes}}€</td>
                                </tr>

                            {% endif %}

                         {% endfor %}

                       </table>

{% endblock %}